ems-backend/HELP.md
ems-backend/target/
ems-backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
ems-backend/src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
ems-backend/nbproject/private/
ems-backend/nbbuild/
ems-backend/dist/
ems-backend/nbdist/
ems-backend/.nb-gradle/
ems-backend/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/